{% extends 'core/base.html' %}
{% block title %}About — Bas Schreurs{% endblock %}

{% block content %}
<article>
  <h2>About Me</h2>
<p>
  I’m Bas Schreurs, a driven Back-End Web Developer passionate about Django and ready for my next challenge.<br>
  I enjoy learning and building with Django and Python, continuously improving my skills through courses like
  <a href="https://www.coursera.org/professional-certificates/meta-back-end-developer" target="_blank" rel="noopener noreferrer">Meta Back-End Developer</a>,
  <a href="https://www.dj4e.com/" target="_blank" rel="noopener noreferrer">Django for Everybody (Dj4e)</a>, and
  <a href="https://www.py4e.com/" target="_blank" rel="noopener noreferrer">Python for Everybody (Py4e)</a>.<br><br>
  I’m motivated by solving problems and creating clean, efficient code that works reliably behind the scenes.<br>
  Every project is an opportunity to grow and push my limits.<br><br>
  I’m eager to contribute to exciting projects and collaborate with others in the tech community.
</p>
</article>
{% endblock %}